.header {
	background-color: cyan;
	position: relative;
	font-size: 2rem;
	height: 7rem;
	width: 95%;
	left: 2.5%;
	right: 2.5%;
	border-radius: var(--main-border-radius);
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin-bottom: 1rem;
}

.header-container{
	position: relative;
	top: 0;
	height: 5rem;
}

.header__image{
	height: 5rem;
	width: 5rem;
}

.header__cart-icon{
	position: absolute;
	height: 5rem;
	width: 5rem;
	right: 5%;
}