.slide-show__container{
	position: relative;
	width: 95%;
	height: 30rem;
	background-color: red;
	display: grid;
	grid-template-areas: "previous-button slide slide slide slide next-button";
	gap: 1rem;
	text-align: center;
	left: 2.5%;
	right: 2.5%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 20px;
	padding: 1rem;
}

.slide-show__object{
	position: absolute;
	height: 100%;
	width: 100%;
	grid-area: slide;
}

.slide-show__image{
	display: none;

	height: 100%;
	width: 100%;
}

.slide-show__image--active{
	display: block;
}

.slide-show__next-image, .slide-show__previous-image {
	align-items: center;
	font-size: 3rem;
	top: 45%;

}

.slide-show__next-image{
	grid-area: next-button;
}

.slide-show__previous-image{
	grid-area: previous-button;
}


@media screen and (max-width: 767px) {
	.slide-show__container{
		display: none;
	}
}